body{
    background-color: #EAEAEA;
    margin: 0;
}
p{
    margin: 0;
}
.nav {
  
  background-color: #FFFFFF;
  /*margin-top: 20px;*/
  text-align: center;
  padding: 5px;
}


.PicBox{
    margin: auto;
    background-color: #FFFFFF;
    width: 30%; max-width: 400px; min-width: 350px;
    display: block;
    /*background-color: yellow;*/
    margin-top: 20px;
    
}
.floutRight{
    display: inline-block;
    width:23%;
    text-align: right;
    color: gray;
    
}
h5{
    display: inline-block;
    width: 70%;
}
/*.top {*/
/*    height: 10%;*/
/*}*/
/*.bottom {*/
/*    height: 15%;*/
/*    overflow-y: scroll;*/
/*}*/

img{
    width: 100%;
}

.padding{
    padding-left: 7px;
}

.bottom p {
    padding: 7px;
}